html, body {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.5;
    padding-top: 120px;
}

h1 + p{
    color: #fff;
    text-transform: uppercase;
}

h2{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 106px;
}

.wrapper{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper1{
    max-width: 910px;
    margin: 0 auto;
    padding-right: 25px;
     
}

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}

.wrapper-blue{
    background-color: rgb(15, 147, 221, 0.33);
}

.bg{
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin: -10px;
    margin-top: -20px;
}


ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    padding:25px;
    font-size: 24px;
  }
  
a{
    text-decoration: none;
    color:#fff; 
}
a:hover{
    color:#f7654a;
}

.title{
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
}

.stat {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 780px;
    margin: -150px auto 0;
    padding-top: 70px;
    padding-bottom: 35px;
}

.stat-item h2{
    font-size: 72px;
    color: #f7654a;
    margin-top: 0;
    margin-bottom: 22px;

}

.stat-item h3{
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;

}

.wrapper-brapper{
    color: #4a4a4a;
}

.box-party{
    display: flex;
    margin-top: 56px;
    margin-bottom: 85px;
    padding-left: 15%;
    padding-right: 15%;
}

.box-party > div{
    flex-basis: 31.5%;
    max-width: 31.5%;
}

.box-party img{
    width: 100%;
    padding-left: -15px;
}

.box-party h3{
    position: relative;
    padding-top: 28px;
    margin-top: 43px;
}

.box-party h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 10;
    width: 55px;
    height: 6px;
    background-color: #f7654a;
}

.text{
    padding-left: 15%;
    margin-bottom: 5%;
}


.banner{
    background-color: #f7654a;
    color: #fff;
    padding: 40px 0 40px;
    margin: -10px;
}

.box-banner{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.box-banner h3{
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 20px;

}

.box-banner p{
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

.grid{
    text-align: center;
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-gap: 28px;
    margin-top: 59px;
    margin-bottom: 147px;
}

.grid-item{
    background-color: #f7f7f7;
    padding: 56px 30px 36px;
}

.grid-item h3{
    line-height: 1.5;
    margin-top: 14px;
}

.grid-one{
    grid-area: a;
}

.grid-two{
    grid-area: b;
}

.grid-three{
    grid-area: c;
}

.grid-four{
    grid-area: d;
}

.grid-five{
    grid-area: e;
}

.grid-six{
    grid-area: f;
}

.grid-photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-photo-item{
    height: 100%;
    position: relative;
}


.grid-photo-item img{
    width: 100%;
    height: 100%;
}

.footer{
    background: #404149;
    padding: 30px 0 28px;
    margin-top: 129px;
    margin: -10px;
}

.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
}